# ===== OS =====
.DS_Store
Thumbs.db

# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# ===== Logs =====
*.log

# ===== Environment & secrets =====
.env
.env.*

# ===== Editor / IDE =====
.vscode/
.idea/

# ===== Build / dist =====
build/
dist/
*.egg-info/
